<body>
  <div class='form-container'>
    <div class='form-title'>Створення товару</div>
    <form action=''>
      <div class='form-group'>
        <label for='name'>Назва товару:</label>
        <input type='text' id='name' name='name' />
      </div>
      <div class='form-group'>
        <label for='price'>Ціна:</label>
        <input type='number' id='price' name='price' />
      </div>
      <div class='form-group'>
        <label for='description'>Короткий опис:</label>
        <textarea
          id='description'
          name='description'
        ></textarea>
      </div>
      <div class='form-group'>
        <input type='submit' value='Створити товар' />
      </div>
    </form>
  </div>
</body>